apiVersion: apps/v1
kind: Deployment
metadata:
  name: profile-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: profile-app
  template:
    metadata:
      labels:
        app: profile-app
    spec:
      containers:
        - name: profile-app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
